* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}


nav {
    position: fixed;
    background-color: tomato;
    height: 10vh;
    width: 100%;
}

.nav-links {
    width: 50%;
    padding: 15px 10px;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;
    justify-content: space-around;
	display: flex;
}

.nav-links a { 
    word-spacing: 1px;
    font-weight: 300;
    font-size: 22px;
	color: rgb(253, 253, 253);
    text-decoration: none; 
    transition-property: font-size;
    transition-duration: 2s;
    transition-delay: 1s;
    transition: ease-in-out 1s;
}

.nav-links a:hover,a:focus {
  color: rgb(199, 7, 7);
  font-size: 35px;
}

.nav-links:active {
    color: turquoise;
}

.nav-lists {
    list-style-type: none;
}

@media screen and (max-width:956px) {
    nav {
        position: relative;
    }
    .nav-links {
        width: 100%;
        background-color: rgb(214, 194, 16);
        height: 100vh;
        flex-direction: column;
        transition: width 2s, background-color 2s, transform 2s;
        visibility: hidden;
    }
    .nav-links a {
        border: none;
       
    }
    .nav-lists { 
        padding-top: 28px;
        transition:ease 1s;
        border-bottom: 2px solid whitesmoke;
    }

    .nav-links.open{
      width: 50%;
      background-color: tomato; 
      visibility: visible;
    }
    
    .bars {
        width: 29px;
		height: 7px;
		background-color: whitesmoke;
        margin-bottom: 5px;
        border-bottom-left-radius: 100%;
        border-top-left-radius: 100%;
        transition:width 1s;
    }
    
    .bars1,.bars3 {
        width: 35px;
    }
    

    .bars1,.bars2 {
        transition: width 2s,height 2s, border-radius 2s, transform 1s,ease-in-out 1s;
    }

    
    
	.hamBurger {
		position: absolute;
        right: 5%;
        top: 50%;
		cursor: pointer;
		transform: translate(-0%, -50%);
		z-index: 2;
    }
    .bars1.rotate {
        height: 4px;
        border-radius: 0%;
        transition: cubic-bezier(0.4, 0, 1, 1) 1s;
        transform: translateY(3.8px) rotate(45deg);
        width:32px;
    }
    .bars2.rotate {
        height: 4px;
        top:15%;
        border-radius: 0%;
        transition: cubic-bezier(0.4, 0, 1, 1) 1s;
        width:31px;
        transform: translateY(-4.5px) rotate(-45deg);
    }
    .bars3.rotate {
        visibility: hidden;
        width:4px;
        animation:bounce 1s;
        border-radius:50%;
       animation-direction: alternate;
        transition: ease 1s;
        animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
        padding:5px;
        background-color:#000000;
        margin:auto;
    }
    @keyframes bounce { 
            from { 
                transform: translate3d(4px, 5px, 0); 
            } 
            to { 
                transform: translate3d(2px, -50px, 0); 
            } 
    }
    
}
